*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.card_principal{
    padding: 0px 0px 20px 0px;
}

.nome_da_empresa{
    width: auto;
    font: 800 .9rem Raleway;
    color: white;
    text-decoration: none;

    border-top-left-radius: 10px;
    background-color: black;

    display: inline-block;
    padding: 5px;

    transition: background-color .3s;
}

.nome_da_empresa:hover{
    background-color: rgb(53, 53, 53);
}

.cargo{
    font: 800 1.3rem Raleway;
    padding: 0px;
}

.periodo{
    font: 300 1rem Raleway;
    padding: 0px;
}


.descricao{
    font: 300 1rem Raleway;
    padding: .5rem 0 0 1rem;
    

}